params {
    ncores = '10'
}
profiles {
    cluster {
        process.executor = 'slurm'
	process.queue = 'exbio-cpu'
        process.cpu = params.ncores    // this parameter is ignored in slurm if docker is used
        process.memory = '100 GB'
        docker.enabled = false
        docker.temp = "auto"
        containerOptions = "--user teska"
    }
}
